#photo-gallery {

}
#expanded-info {
  display: flex;
  .container {
    padding: 0;
    width: 50%;
    margin: 0 auto;
    #expanded-info__written {
      width: 100%;
      padding: 0 50px;
    }
    #expanded-info__map {
      width: 100%;
    }
  }
}
