.header--full {
  #header {
    min-height: 100vh;
    .wsite-elements, .wsite-section-wrap {
      height: 100vh;
      .wsite-section {
        min-height: 100vh;
      }
    }
  }
}

.header--gray-overlay {
  #header {
    .wsite-section {

      // Sections with image BG
      &.wsite-section-bg-image {
        &:after {
          background: rgba($brand_gray_dark, 0.75);
        }
      }

      // Sections with video BG
      &.wsite-section-bg-video {
        &:after {
          background: rgba($brand_gray_dark, 0.75);
        }
      }

    }
  }
}

.header--no-overlay {
  #header {
    .wsite-section {

      // Sections with image BG
      &.wsite-section-bg-image {
        &:after {
          background: none;
        }
      }

      // Sections with video BG
      &.wsite-section-bg-video {
        &:after {
          background: none;
        }
      }

    }
  }
}

.header--primary-overlay {
  #header {
    .wsite-section {

      // Sections with image BG
      &.wsite-section-bg-image {
        &:after {
          background: rgba($brand_primary, 0.75);
        }
      }

      // Sections with video BG
      &.wsite-section-bg-video {
        &:after {
          background: rgba($brand_primary, 0.75);
        }
      }

    }
  }
}

.no-header {
  i.fa.fa-nya {
    color: $brand_gray_dark;
  }
  .hamburger-inner {
    background-color: $brand_gray_dark !important;
  }
}
