.home-page {
  #header {
    .wsite-section {

      // Headers with image BG
      &.wsite-section-bg-image {
        &:after {
          background-color: rgba($brand_gray_light, 0.2);
        }
      }

      // Headers with video BG
      &.wsite-section-bg-video {
        &:after {
          background-color: rgba($brand_gray_light, 0.2);
        }
      }

    }
  }
  // Do not display any divs following a script tag.
  //
  // We do this because Weebly appends divs with padding and other things
  // without classes at the end of this page, and we don't want a footer.
  // This is a performance-heavy selector. If a method of removing those
  // elements from the page becomes available in the future,
  // it should be used instead.
  script ~ div {
    display: none;
  }
}
