.landing-page {
  #header {
    min-height: 400px;
  }
}


#wsite-search-content {
  #wsite-search-header {
    h2 {
      color: $brand_gray_light !important;
    }
    input {
    background: none;
    font-size: 2rem;
    font-family: $font_stack;
    font-weight: 300;
    color: $brand_primary;
    outline: 0;
    }
    #wsite-search-submit {
      border-left: none;
    }
  }
  #wsite-search-sidebar {
    h3 {
      color: $brand_gray_light;
    }
  }
  a {
    color: $brand_gray_light;
    text-decoration: none;
    transition: color 0.4s ease;
    &:hover {
      color: $brand_primary;
      text-decoration: none;
    }
  }
  #wsite-search-list {
    p {
      color: $brand_gray_light;
    }
    h3 {
        border-bottom: 0;
        color: $brand_gray_light;
        font-size: 3rem;
        font-family: $font_stack;
        font-weight: 300;
        line-height: 1.2em;
        overflow: hidden;
        padding: 0 5px 0 0;
        margin: 0;
        text-decoration: none;
        transition: color 0.4s ease;
        white-space: initial;
        &:hover {
          color: $brand_primary;
          text-decoration: none;
        }
    }
    // li {
    //   &::after {
    //     bottom: 0;
    //     background-color: #eaeaea;
    //     content: "";
    //     height: 1px;
    //     left: 50%;
    //     position: absolute;
    //     transform: translateX(-50%);
    //     width: 100vw;
    //   }
    //   padding-bottom: 5rem;
    //   margin-bottom: 5rem;
    // }
  }
}
