.sections-page {
  #main {
    padding: 0 !important;
    .wsite-section-wrap {
      &:first-of-type {
        background-color: #f1f1f1;
        .container {
          max-width: 1000px;
          padding: 0 5vw;
        }
      }
      .container {
        padding: 0;
        .wsite-multicol-col {
          @include device(desktop) {padding: 0 50px !important;}
          @include device(smartphone, tablet, laptop) {padding: 0 5vw !important;}
        }
      }
    }
  }
}

.sections--gray-overlay {
  #main {
    .wsite-section {

      // Sections with image BG
      &.wsite-section-bg-image {
        &:after {
          background: rgba($brand_gray_dark, 0.75);
        }
      }

      // Sections with video BG
      &.wsite-section-bg-video {
        &:after {
          background: rgba($brand_gray_dark, 0.75);
        }
      }

    }
  }
}

.sections--no-overlay {
  #main {
    .wsite-section {

      // Sections with image BG
      &.wsite-section-bg-image {
        &:after {
          background: none;
        }
      }

      // Sections with video BG
      &.wsite-section-bg-video {
        &:after {
          background: none;
        }
      }

    }
  }
}

.sections--primary-overlay {
  #main {
    .wsite-section {

      // Sections with image BG
      &.wsite-section-bg-image {
        &:after {
          background: rgba($brand_primary, 0.75);
        }
      }

      // Sections with video BG
      &.wsite-section-bg-video {
        &:after {
          background: rgba($brand_primary, 0.75);
        }
      }

    }
  }
}
