#icontent {
  z-index: 0;
  .bg-img-wrap {
    &:before {
      content:"Content Area";
      height: auto;
      width: auto;
      font-size: 1.5em;
      padding: 0.5em;
    }
  }
  li {
    padding-left: 0;
  }
  #post-footer .wsite-text {
      display: block;
  }
  &.home-page {
    // .wsite-element-section-highlight {
    //   z-index: 3 !important;
    // }
    // Do not display the Weebly empty message on the home page
    .wsite-section-wrap {
      .wsite-section-content {
        display: none !important;
      }
    }
  }
}
