#pre-footer {
  padding: $vertical_margin 0;
  position: relative;
  min-height: 120px;

  // Use if pre-footer has color background
  // h2, .paragraph {
  //   color: #fff;
  // }

  .wsite-multicol-col {
    vertical-align: middle;
  }

}

#footer {
  background: #fff;
  border-top: $border;
  padding: $vertical_margin 0;
  .container {
    @include device(smartphone, tablet, laptop) {
      padding: 0 5vw;
    }
    a {
      color: $brand_gray_light;
      &:hover {
        color: $brand_primary;
      }
      i {
        font-size: 3rem;
        padding-left: 50px;
      }
    }
  }
}

#post-footer {
  background: #fff;
  padding: 15px 0;
  border-top: $border;

  .wsite-multicol-col {
    vertical-align: middle;
  }
  .paragraph{
    font-size: 1rem !important;
    a {
      color: $brand_gray_light;
      &:hover {
        color: $brand_primary;
      }
    }
  }
  :last-child {
    margin-bottom: 0;
  }
}
