#header {
  position: relative;
  // Use with color overlay
  h1, h2, .paragraph {
    color: #fff;
  }
  // Overlays removed at client request. Saving here for possible reintroduction.
  // &:before {
  //   background-image: linear-gradient(transparent, rgba($brand_gray_light, 0.65) 95%);
  //   content: "";
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   top: 0;
  //   left: 0;
  //   z-index: 1;
  // }
  .wsite-section {
    @include device(smartphone, tablet, laptop) {padding: 0;}
    .container {
      padding: 50px;
      @include device(smartphone, tablet, laptop) {
        max-width: none;
        padding: 0 5vw;
      }
    }
  }
}

.header--full {
  #header {
    min-height: 100vh;
    .wsite-elements, .wsite-section-wrap {
      min-height: 100vh;
      .wsite-section {
        min-height: 100vh !important;
        // Support for Firefox
        @include device(laptop, desktop){height: 100vh !important;}
        .wsite-section-content {

          @include device(smartphone) {
            padding-top: 100px;
          }
        }
      }
    }
  }
}

// Overlays removed at client request. Saving here for possible reintroduction.
.header--gray-overlay {
  #header {
    .wsite-section {

      // Headers with image BG
      &.wsite-section-bg-image {
        &:after {
          // background-color: rgba($brand_gray_light, 0.2);
        }
      }

      // Headers with video BG
      &.wsite-section-bg-video {
        &:after {
          // background-color: rgba($brand_gray_light, 0.3);
        }
      }

    }
  }
}

.header--no-overlay {
  #header {
    .wsite-section {

      // Headers with image BG
      &.wsite-section-bg-image {
        &:after {
          background: none;
        }
      }

      // Headers with video BG
      &.wsite-section-bg-video {
        &:after {
          background: none;
        }
      }

    }
  }
}

.header--primary-overlay {
  #header {
    .wsite-section {

      // Headers with image BG
      &.wsite-section-bg-image {
        &:after {
          background: rgba($brand_primary, 0.3);
        }
      }

      // Headers with video BG
      &.wsite-section-bg-video {
        &:after {
          background: rgba($brand_primary, 0.3);
        }
      }

    }
  }
}

.no-header {
  i.fa.fa-nya {
    color: $brand_gray_dark;
  }
  .hamburger-inner {
    background-color: $brand_gray_dark !important;
  }
}
