#nav {
  .container {
    .nav-outer-wrap {
      // This is styling for the native weebly menu
      display: flex;
      justify-content: flex-start;
      text-align: left;

      background: #fff;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
      z-index: 15;
      visibility: hidden;
      opacity: 0;
      ul.wsite-menu-default {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        li.wsite-menu-item-wrap {
          // Styles for the specific menu items
        }
      }
      .nav-title {
        // This is where the Aquatic Gems title will go

      }
    }
  }
}

body.nav-open {
  nav {
    visibility: visible;
    opacity: 1;
  }
  .site-controls {
    max-height: 100%;
    transition: max-height 0s ease !important;
  }
  .site-menu {
    z-index: 50;
  }
  .hamburger {
    .hamburger-inner {
      background-color: #fff !important;
    }
    &.is-active {
      @include device(tablet, laptop, desktop) {
        padding-right: 32px;
      }
    }
  }
}

body.no-scroll {
  overflow-y: scroll;
}
