$blog-meta-bg: $brand_primary;
$blog-meta-inactive-bg: lighten($brand_primary, 2%);
$blog-meta-button-border: lighten($brand_primary, 3%);
$blog-meta-color: #fff;

//Icons
$blog-meta-icon-kit: $icon_font_family;
$blog-meta-open: "\f047";
$blog-meta-search: "\f00c";

.blog-meta {
  background: $blog-meta-bg;

  .blog-category-title, .blog-archives-title, a, button, p {
    color: $blog-meta-color;
  }
  @include device(smartphone, tablet) {
    .blog-category-title,
    .blog-archives-title {
      font-size: 3em;
    }
  }

  .blog-meta__content {
    width: 100%;
    background: $blog-meta-bg;
    transition: all 0.4s ease;
    padding: 0;
    box-sizing: content-box;
    max-height: 0px;
    height: 0px;
    overflow: hidden;

    @include device(smartphone, tablet) {
        padding-left: 25px;
        padding-right: 25px;
        width: calc(100% - 50px);
    }

    .blog-archives-title, .blog-category-title {
        margin-bottom: 0.5em;
    }
  }

  .blog-meta__categories, .blog-meta__archives, .blog-meta__search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // overflow: hidden;
    padding: 0 50px;
    @include device(smartphone, tablet) {
      padding: 0px;
    }
    transition: all 0.4s ease;
    // max-height: 0;
    opacity: 0;
    // box-sizing: content-box;
    .wsite-elements {
      margin: auto;
    }
    &.visible {
      // padding: 60px 0;
      // max-height: 300px;
      opacity: 1;

      .wsite-elements {
        z-index: 10;
        position: relative;
      }
    }
  }

  .blog-meta__categories {
    .blog-category-list {
      display: flex;
      flex-wrap: wrap;

      a {
        width: 25%;
        @include device(smartphone) {
            width: 50%;
        }
        margin-bottom: 0.5em;
        display: inline-block;
        line-height: 1;
      }
    }
  }

  .blog-meta__archives {
    .blog-archive-list {
      display: flex;
      flex-wrap: wrap;

      a {
        width: 25%;
        @include device(smartphone) {
            width: 50%;
        }
        margin-bottom: 0.5em;
        display: inline-block;
        line-height: 1;
      }
    }
  }

  .blog-meta__search {
    .wsite-search-element {
      flex: 1;
      width: 100%;

      #wsite-header-search-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .wsite-search-element-input {
        width: 100%;
        border: none;
        background: transparent;
        height: auto;
        font-size: 36px !important;

        border-bottom: 2px solid $blog-meta-color !important;
        color: $blog-meta-color;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $blog-meta-color;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $blog-meta-color;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $blog-meta-color;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $blog-meta-color;
        }
      }

      .wsite-search-element-submit {
        background: none !important;
        border: none !important;
        position: relative;
        transform: none;
        height: auto;

        @include device(smartphone, tablet) {
            display: none !important;
        }

        &:before {
          font-family: $blog-meta-icon-kit;
          content: $blog-meta-search;
          position: absolute;
          transform: translate(-50%, -50%);
          color: $blog-meta-color;
          font-size: 50px;
        }
        &:after {
          display: none;
        }
      }
    }
  }
}

.blog-meta__controls {
  @include device(laptop, desktop) {
    background: $blog-meta-button-border;
  }

  .container {
    display: flex;
    align-items: stretch;
    padding: 0 !important;
    max-width: none;

    @include device(smartphone, tablet) {
      flex-direction: column-reverse;
    }
  }

  .button-wrap {
    flex: 1;
    position: relative;
    display: flex;

    @include device(smartphone, tablet) {
      width: 100%;
      flex-direction: column;
    }

    button {
      background: $blog-meta-inactive-bg;
      border: 1px solid $blog-meta-button-border;
      width: 50%;
      font-size: 18px;
      padding: 16px 32px;
      color: $blog-meta-color;
      position: relative;
      text-align: left;
      @include device(smartphone, tablet) {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
      }

      &:before {
        font-family: $blog-meta-icon-kit;
        content: $blog-meta-open;
        margin-right: 0.5em;
        font-size: 1em;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        right: 32px;
        transform: translateY(-50%);
        transition: all 0.4s ease;
        opacity: 1;

        @include device(smartphone, tablet){
            right: 25px;
        }
      }

      &.selected {
        border: 1px solid $blog-meta-bg;
        border-bottom: 1px solid $blog-meta-bg;
        background: $blog-meta-bg;
        color: $blog-meta-color;

        &:before {
          transform: translateY(-50%) rotate(-225deg) !important;
          opacity: 0;
        }
      }
      &:active, &:focus {
        outline: none;
      }
      @include device(laptop, desktop){
          &:not(.selected) + button:not(.selected) {
              border-left: none;
          }
      }
    }
  }
}
#icontent .blog-meta .visible {
  opacity: 0;
}
